<h3>トップページ</h3>

<a href="http://www.yukisako.xyz" class="btn btn-primary">迫ブログ</a>

<img src="..." alt="..." class="img-rounded">
 <a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="submit">Button</button>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-default" type="submit" value="Submit">